{% extends "base.html" %} 

{% block page_title %}
    Home
{% endblock page_title %}
{% block content %}
    {{now}}
    {% for room in object_list %}
        <h3>
            {% comment %} <a href="/rooms/{{room.pk}}"> {% endcomment %}
            <a href="{% url "rooms:detail" room.pk %}">
                {{room.name}} / ${{room.price}}
            </a>
        </h3>
    {% endfor %}
{% comment %} listview에서 page_obj는 paginator를 꽁짜로 가져온것임  {% endcomment %}
    <h5>
    {% if page_obj.has_previous %} 
        <a href="?page={{page_obj.previous_page_number}}">Previous</a>
    {% endif %}
    Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
    {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}">Next</a>
    {% endif %}
    </h5>

{% endblock content %}
    







<!-- {% comment %} <h4>The time right now is : {{now}}</h4>

<h6>
{% if hungry %}
    I'm hungry
{% else %}
    i'm okay
{% endif %} {% endcomment %} -->



<!-- <h5>I'm hungry {{hungry}}</h5> -->