{% extends 'base.html' %}

{% block page_title %}
    Search
{% endblock page_title %}

{% block search-bar %}

{% endblock search-bar %}


{% block content %}
    <h2>Search!</h2>

    <form method = "get" action="{% url "rooms:search" %}">
        {{form.as_p}}
        <button>Search</button>
        {% comment %} submit도 가능 하지만 html에서 button이 한개면 submit 역할을 함 {% endcomment %}
    </form>

    <h3>Results</h3>
    {% for room in rooms %}
    <h4>{{room.name}}</h4>
    {% endfor %}

{% endblock content %}
