{% extends 'base.html' %}

{% block page_title %}
    Login
{% endblock page_title %}

{% block search-bar %}

{% endblock search-bar %}


{% block content %}
    {% include 'partials/social_login.html' %}
    <form method="POST" action="{% url "users:login" %}">
        {{form.as_p}}
        {% comment %} csrf는 이 사이트에서 로그인했는지 확인해준다
        만약 post한 토큰이 이 사이트의 토큰과 다르면 로그인을 못함
        따라서 다른 사이트에서 로그인할수 있는것을 방지한다.{% endcomment %}
        {% csrf_token %}
        <button>Login</button>
    </form>
{% endblock content %}
